* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  background: #f5f7fb;
  font-family: 'Karla', sans-serif;
}

.start-screen {
  /* border: 1px solid red; */
  height: calc(100vh - 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #293264;
}

.start-screen-info {
  display: flex;
  flex-direction: column;
}

.start-screen--header {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.44rem;
}

.start-screen--text {
  /* border: 1px solid red; */
  text-align: center;
  font-family: Karla;
  font-size: 1rem;
  line-height: normal;
}

.start-screen--button {
  margin: 1.4rem auto;
  width: 10rem;
  height: 3.25rem;
  border-radius: 0.9375rem;
  border: none;
  background: #4d5b9e;
  color: white;
  font-family: Karla;
  font-size: 1rem;
}

.game-screen-main {
  /* border: 1px solid red; */
  max-width: 80%;
  height: 85vh;
  margin: 2.5rem auto;
}

.game-screen--qna {
  margin: 2rem 0;

  /* border: 1px solid red; */
}

.game--question {
  color: #293264;
  font-family: Karla;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0.8rem 0;
}

.game-screen--ans {
  list-style-type: none;

  display: grid;
  grid-template-columns: 1fr 1fr;

  border-bottom: 1px solid #dbdef0;
}

.game-screen--ans li {
  width: 90%;
  height: 2rem;
  position: relative;
  border: 1px solid #cbcde2;
  border-radius: 0.5rem;
  /* cursor: pointer; */
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.game-screen--ans label,
.game-screen--ans input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #293264;
  font-size: 0.8rem;
  font-weight: 700;
}

.game-screen--ans input[type='radio'] {
  opacity: 0.01;
  z-index: 100;
}

.game-screen--ans input[type='radio']:checked + label {
  background: #188aef;
  border-radius: 0.5rem;
}

/* --------------------------------------------------< desktop screen */

@media (min-width: 768px) {
  .game--question {
    font-size: 1.6rem;
    padding-bottom: 1.4rem;
  }

  .game-screen--qna {
    margin: 4rem 0;
  }

  .game-screen--ans {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .game-screen--ans li {
    width: 14rem;
    height: 2.4rem;
    margin-right: 0.6rem;
    margin-bottom: 1.2rem;
  }
}

/* --------------------------------------------------< desktop screen */
