* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
}

.App {
  margin: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}

h2 {
  color: #262626;
  font-weight: 500;
}

hr {
  border: none;
  border-top: 1px dotted #262626;
  width: 600px;
}

/* ***************************************************************** */

.badges {
  padding: 1rem 2rem;
  display: flex;
  gap: 2rem;
}

.badge {
  padding: 2px 12px;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
}

.badge.pill {
  padding: 2px 12px;
  border: none;
  border-radius: 12px;
  font-size: 0.9rem;
}

.green {
  background-color: #d1fae5;
  color: #065f46;
}

.red {
  background-color: #fee2e2;
  color: #991b1b;
}

.blue {
  background-color: #dbeafe;
  color: #1e40af;
}

/* ***************************************************************** */

.banner {
  padding: 1rem;
  display: flex;
  gap: 12px;
  margin-bottom: 1rem;
  border-radius: 6px;
  max-width: 600px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.icon {
  margin-top: 1px;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}

.success {
  background: #ecfdf5;
  .icon {
    color: #34d399;
  }
  .title {
    color: #065f46;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .text {
    color: #047857;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}

.warning {
  background: #fffbeb;
  .icon {
    color: #fbbf24;
  }
  .title {
    color: #92400e;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .text {
    color: #b45309;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}

.error {
  background: #fef2f2;
  .icon {
    color: #f87171;
  }
  .title {
    color: #92400e;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .text {
    color: #b45309;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}

.neutral {
  background: #eff6ff;
  .icon {
    color: #60a5fa;
  }
  .title {
    color: #1e40af;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .text {
    color: #1c51b9;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}

/* ***************************************************************** */

.card-container {
  display: flex;
  max-width: 24rem;
  padding-top: 24px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.card {
  display: flex;
  padding: 0px 24px 32px 24px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: #f9fafb;
}

.card:hover {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
}

.card--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card--title {
  color: #111827;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.card--text {
  color: #6b7280;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.card--icon--container {
  position: relative;
  bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 6px;
  background: #3f75fe;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.card--icon {
  color: white;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

/* ***************************************************************** */

/* ***************************************************************** */

/* ***************************************************************** */
