* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  /* background-color: #e9e3ff; */
  background-color: black;
}

.App {
  margin: 4rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  height: 100vh;
  /* border: 1px solid red; */
}

.badges {
  padding: 2rem;
  display: flex;
  gap: 2rem;
}

.badge {
  padding: 2px 12px;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
}

.badge.pill {
  padding: 2px 12px;
  border: none;
  border-radius: 12px;
  font-size: 0.9rem;
}

.green {
  background-color: #d1fae5;
  color: #065f46;
}

.red {
  background-color: #fee2e2;
  color: #991b1b;
}

.blue {
  background-color: #dbeafe;
  color: #1e40af;
}
